@media only screen and (max-width: 1200px){
    .blk {
        width: 33%;
    }
    .blk2 {
        margin: 0px;
        display: inline-block;
        width: 50%;
    }
    .portfolio-item {
        margin: 5px;
    }

}
@media only screen and (max-width: 954px){
    .callout {
        width: 100% !important;
    }
    .text-vertical-center img {
        width: 80%;
    }
    section#about .col-lg-12 {
        width: 100% !important;
    }   
    .text-vertical-center h1, .text-vertical-center h3, aside.call-to-action.bg-primary h1, aside.call-to-action.bg-primary h2, aside.call-to-action.bg-primary h3 {
        margin:unset;
        width: unset;
    }
    footer {
        padding: 12px;
        float: unset;
    }
}
@media only screen and (max-width: 754px){
    html, body {
        width: auto;
        height: auto;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .header {

        height: 100vh;
    }
    .text-vertical-center h1, .text-vertical-center h3, aside.call-to-action.bg-primary h1, aside.call-to-action.bg-primary h2, aside.call-to-action.bg-primary h3 {
        margin: 10px;
        width: 100%;
    }

    .blk {
        width: 50%;
    }
    .blk2 {
        width: 100%;
    }
 

}
@media only screen and (max-width: 454px){
    .blk {
        width: 100%;
    }
    .text-vertical-center h1 {
        font-size: 40px;
    }
}